.box{
    width: 550px;
    height: 350px;
    
    background-image: 
    url("../imgs/logo_naver.png");
    border: 2px dashed lightcoral;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right bottom;
                 /*  (오른쪽,왼쪽)   (위,아래) */

}